.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
faircyarn.lock
yarn-error.log
node_modules/
yarn.lock
yarn.error
example/pubspec.lock
fair/example/ios/Podfile.lock
fair/pubspec.lock
example/ios/Podfile.lock
compiler/test
doc/.vuepress/public/api
doc/.vuepress/public/project/
doc/.vuepress/dist/
github-pages/
test_case/fair_example
fair/example/android/app/.cxx/
fair/android/.cxx/
