.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
faircyarn.lock
yarn-error.log
node_modules/
fairc
yarn.lock
yarn.error
example/pubspec.lock
fair/pubspec.lock
example/ios/Podfile.lock
fair_compiler/test
doc/.vuepress/public/api
doc/.vuepress/public/project/
doc/.vuepress/dist/
github-pages/
samples/fair_example
#fair/android/.cxx/
#fair/example/android/app/.cxx/